body
{
    margin: 0;
    padding: 0;
    /* background-color: #1a1a1a; */
    
    
}

h1
{
    color: rgb(255, 255, 255);
    text-align: center;
    letter-spacing: 1px;
    font-weight: bolder;
    
    
}

div
{
    border: 15px solidrgb(50, 150, 0);
    margin: 15px;
    padding: 3px;
    box-shadow: 2px 5px 5px#54baa4d1;
    border: none;
    border-radius: 25px;
    background-color: #131815; 
}

.container 
{    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    /* margin: 20px; */
    padding: 25px;
    color: rgb(70, 69, 69);
    text-align: center;
    /* border-radius: 50%; */
    border-color: #1a1a1a;
   
}

#input {
    color: rgb(254, 249, 249);
    border: none;
    width: 20%;
    height: 7vh;
    text-align: center; 
    border-radius: 0px;
    font-size: 15px;
    font-weight: bold;
    /* border-color: black; */
    background-color: #434346;
    border-color: rgb(13, 13, 16);
   
}

#btn {
    border: none;
    border-radius: 10%;
    padding: 10px;
    width: 50px;
    cursor: pointer;
    font-weight: bold;
    background-color:#54baa4d1;
    color: rgb(247, 242, 242);
    /* font-size: x-large; */
    margin-left: 10px;

}
.todo{
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    height: 44%;
    /* width: 40px; */
    padding: auto;
    
}
.HT{
    border-radius: 10px;
}
